body
{
    font-family: 'Exo', sans-serif;
    color: #3f3f3f;
}

#header
{
    width: 100%;
    height: 300px;
    position: relative;
    color:#ffffff;
}

#header .header-image
{
    background-image: url("../img/bg5.jpg");
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

#header .content-header
{
    width: 80%;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -40%;
}

.img-profile
{
    width: 190px;
    height: 190px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.bg-red:not(.content-header)
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cc2d0e;
    opacity: 0.3;
}

h1.name
{
    font-weight: 700;
    margin: 0;
}

h1.name,
p.profession
{
    text-shadow: 0px 0px 4px #918e8e;
}

nav.nav-bar
{
    margin-top: 0;
    margin-bottom: 0;
}

ul.nav .nav-item .nav-link
{
    color: #3f3f3f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
}

ul.nav .nav-item .nav-link:hover
{
    color: #cc2d0e;
    transition:  ease 0.6s;
}

div.sobre-mim
{
    background-color: #e2e2e2;
}
div.sobre-mim .button
{
    padding: 25px 0 25px 0;    
}

div.sobre-mim .button a
{
    color: #ffffff;
}

div.sobre-mim .button a:hover
{
    color: #ffffff;
    box-shadow: 0 0 10px #3f3f3f;
    transition:  ease 0.3s;
}

h2.title
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 4px;
    margin: 0;
}

h3.sub-title
{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
}

p.info
{
    font-size: 0.9rem;
    font-weight: 400;
    box-sizing: border-box;
}

hr
{
    width: 50%;
    color: #bcbcbc;
    background-color: #bcbcbc;
    height: 1px !important;
}

div.icon
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bcbcbc;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    margin: auto;
    top: -33px;
    
}

div.icon
{
    color: #ffffff;
    position: relative;
    font-size: 0.7rem;
    margin: auto;
}

div.descricao
{
    margin-top: 30px;
}

div.descricao p
{
    margin-bottom: 3px;
    font-size: 1.1rem;
    box-sizing: border-box;
}

p.skill-name,
p.skill-percent
{
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 1em;
    
}

div.progress
{
    height: 8px;
    margin-bottom: 25px;
}

div.progress .html,
div.progress .css,
div.progress .bootstrap
{
    width: 90%;
}

div.progress .php
{
    width: 80%;
}

div.progress .javascript,
div.progress .laravel
{
    width: 60%;
}

div.progress .mysql,
div.progress .xml
{
    width: 50%;
}

div.progress .photoshop,
div.progress .wordpress,
div.progress .joomla
{
    width: 40%;
}

div.progress .ajax,
div.progress .git
{
    width: 30%;
}

@media (max-width: 576px) {
    
    #header .content-header .col-12
    {
        text-align: center!important;
    }
    
    .img-profile
    {
        width: 140px;
        height: 140px;
    }
    
    h1.name
    {
        font-size: 2em !important;
    }
    
    .nav-item
    {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.9em;
    }
    
    .nav-item .nav-link
    {
        padding-top: 0;
    }
    
    h3.sub-title
    {   
        font-size: 0.8rem;
    }
    
    p.info
    {
        font-size: 0.6rem;
    }
    div.descricao p
    {
        font-size: 0.9rem;
    }
    
}